body {
    background-color: black;
}

.container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 27vh 27vh 27vh 19vh;
    width: 65vw;
    margin: 0 auto;
}

/* SMARTPHONE */
.smartphone {
    grid-column: 1/span 6;
    grid-row: 1/2;
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}

.smartphone .text {

    width: 33%;
    padding: 1rem;
    font-size: 0.8rem;
}

.smartphone .picture {

    width: 45%;
}

.smartphone .text .title {
    color: gray;


}

.smartphone .text .more {
    color: lightgray;
}

.smartphone .picture img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}

/* CHEMICAL */
.chemical {
    grid-column: 7/span 6;
    grid-row: 1/2;
    background-color: #F7F8F9;
    width: 100%;
    margin: 0 auto;

}

.chemical .title {
    color: gray;
    font-size: 0.8rem;
}

.chemical .text {
    font-size: 1.5rem;
    text-align: center;
}

.download {
    color: #38d5f4;
    text-decoration: underline;
    font-size: 0.8rem;
}


/* KEYBOARD */
.keyboard {
    grid-column: 1/span 3;
    grid-row: 2/3;
    background-color: #f05638;


}

.keyboard .picture {
    text-align: center;
}

.keyboard .picture img {
    height: auto;
    width: 75%;

}


.keyboard .text {
    color: white;
    font-size: 0.6rem;
    text-align: center;


}

.learn {
    color: yellow;
    font-size: 0.3rem;
    text-align: center;
}

/* OLD COMPUTER  */
.oldComputer {
    grid-column: 4/span 6;
    grid-row: 2/3;
    background-color: white;

}
.oldComputer .picture img{

}
.oldComputer .picture{

}
.oldComputer .text{
    
}

.disk {
    grid-column: 10/span 3;
    grid-row: 2/4;
    background-color: #8166b0;
}

.gameController {
    grid-column: 1/span 3;
    grid-row: 3/4;
    background-color: white;

}

.laptop {
    grid-column: 4/span 6;
    grid-row: 3/4;
    background-color: #93B6B7;
}

.yellowTwitter {
    grid-column: 1/span 3;
    grid-row: 4/5;
    background-color: #38d5f4;
}

.popular {
    grid-column: 4/span 3;
    grid-row: 4/5;
    background-color: white;

}

.tv {
    grid-column: 7/span 6;
    grid-row: 4/5;
    background-color: #2c2c2c;
}