body {
    background-color: black;
}

.container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 27vh 27vh 27vh 21vh;
    width: 65vw;
    margin: 0 auto;
}

/* SMARTPHONE */
.smartphone {
    grid-column: 1/span 6;
    display: flex;
    height: 10rem;
    border: 1px solid black;
}

.smartphone .text .title {
    color: gray;


}

.smartphone .text .more {
    color: lightgray;
}

.smartphone .picture img {
    height: 100%;
    width: auto;
}








































.chemical {
    grid-column: 7/span 6;
    height: 10rem;
    border: 1px solid red;
}